.select-group > select {
  font-size: 1rem;
  font-weight: 400;
  color: #212529;

  background-color: #fff;
  background-clip: padding-box;

  width: 300px;
  padding: 10px;

  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 30px;

  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

  /* Custom arrow */
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23212529' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 16px 12px;
}

/* Focus style (same as input) */
.select-group > select:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

/* Label (same as input) */
.select-group > label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: #666;
  letter-spacing: 0.5px;
}

/* Required star */
.select-group > label > span:nth-child(2) {
  color: rgb(210, 21, 21);
}
